<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <div class="logo">
        ⬇️ <b>YT Downloader</b>
    </div>

    <nav>
        <a href="#">YouTube Downloader</a>
        <a href="#">YouTube MP4</a>
        <a href="#">YouTube MP3</a>
        <a href="#">English ▾</a>
    </nav>
</header>


<section class="hero">

    <h1>YouTube Downloader</h1>

    <form action="/download" method="POST">

        <input 
        type="text" 
        name="url"
        placeholder="Search or paste YouTube link here..."
        required>

        <button>
            Start ➜
        </button>

    </form>

    <p>
        By using our service you accept our Terms of Use.
    </p>

</section>


<section class="content">

<h2>Download Video and Audio from YouTube</h2>

<p>
Download YouTube videos and convert them into MP4 or MP3.
Choose quality and format easily.
</p>

<div class="cards">

<div>
<h3>Fast Download</h3>
<p>Download videos quickly.</p>
</div>


<div>
<h3>HD Quality</h3>
<p>Support 720p, 1080p and 4K.</p>
</div>


<div>
<h3>Audio Converter</h3>
<p>Convert videos to MP3.</p>
</div>


</div>

</section>


</body>
</html>